<div class="jumbotron">
  <h2>We help farmers to optimise their post-harvest losses, by matching their excess stocks with food businesses who need it</h2>
  <h2>Get started Today</h2>
</div>


<div class="center">
  <div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <%= link_to 'Buy Now', listing, class: "btn btn-link" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
     <%= link_to "New Listing", new_listing_path, class: "btn btn-link" %>
<% end %>